
{% load static %}

<!--_nav.html-->


<body class="index-page">


    <header id="header" class="header d-flex align-items-center sticky-top">
      <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
  
         
          <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          
          <i class="bi bi-snow"></i>
          
          <h1 class="sitename">Project Ravenna</h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url 'index' %}" class="active">Home<br></a></li>
            <li><a href="{% url 'blog-index' %}">Blog</a></li>
            <li class="dropdown"><a href="#"><span>Project Raven</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Nature</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Animals</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="{% url 'blog-details' %}">Blog detalhes</a></li>
                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                    <li><a href="{% url 'mangas' %}">Mangas</a></li>
                    <li><a href="{% url 'mangas-details' %}">Mangas-detalhes</a></li>
                    <li><a href="#">Deep Dropdown 3</a></li>
                    <li><a href="#">Deep Dropdown 4</a></li>
                    <li><a href="{% url 'index' %}">index</a></li>
                  </ul>
                  
                </li>
              </ul>
            </li>
            <li><a href="#">Project Havoc</a></li>
           
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
              
        </nav>
      
      {% if user.is_authenticated %}
      <button class="btn btn-warning mx-2" type="submit"  onclick="#">
          <i class="fas fa-cog"></i></button>
      <span class="p-2">
          <a class="nav-link" href="{% url 'perfil' user.username %}">
              <i class="fas fa-user mx-2"></i>{{user.first_name}} {{user.last_name}}
          </a>
      </span>
      
      <button class="btn btn-danger" data-bs-toggle="modal" href="#logoutModal">Logout</button>
      
      {% else %}
      <button class="btn btn-primary mx-2" onclick="location.href='{% url 'login' %}'">Entrar</button>
      <button class="btn btn-warning" onclick="location.href='{% url 'register' %}'">Cadastrar-se</button>
      {% endif %}
      
      </div>

       
        
    </header>
<!--/_nav.html-->